# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Don't store runtimes, we will download them via scripts
worker/runtimes/*
getruntimes/aws_env

# Pretty sure we don't need this
.gobincache
